/*@import url('https://fonts.cdnfonts.com/css/isabella');*/
@import url('https://fonts.cdnfonts.com/css/tracing-blood');
body {
    /*background-color: black;*/
    /*background-image: url("./asset/todo.jpeg");*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.add {
    background-color: white;
    width: 500px;
    padding: 20px;
    text-align: center;
    gap: 50px;
    margin: 0px;
}

.todo {
    font-family: 'Tracing Blood', sans-serif;

    /*font-family: 'Isabella', sans-serif;*/
    font-size: 50px;
    color: steelblue;

}

.homeDiv {
    position: fixed;
    top: 0;
    left: 0;
    margin: 40px;
}

.homeDiv a {

    text-align: center;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.homeDiv a img {
    width: 60px;
    height: auto;
}


.taskInput,
.updateInput{
    width: 90%;
    padding: 10px;
    margin-top: 10px;
}

.searchBtn,
.editBtn{
    background-color: #888888;
    /*background-color: #4CAF50;*/
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 50px;
}
.searchBtn:hover, .editBtn:hover {
    background-color: #45a049;
}
.add {
    background-color: white;
    width: 550px;
    padding: 20px;
    text-align: center;
    gap: 50px;
    margin: 0px;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.confirm-btn, .cancel-btn {
    background-color: #888888;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

.confirm-btn:hover{
    background-color: red;


}
.cancel-btn:hover {
    background-color: #45a049;

}
